<!DOCTYPE html>
<html>
<head>
	<title>LostItems</title>
	<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
	<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head>
<body>
<div data-role="page" data-theme="b" id="jqm-home">
	<div id="jqm-homeheader">
		<h3 id="jqm-logo">Lost Items</h3>
	</div>

	<div data-role="content">
		<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
			<li>* Av. Paseo de la Reforma 222, Cuauhtemoc</li>
      <li>* Rio Lerma 123, Cuauhtemoc</li>
      <li>* Av. Masaryk 544, Polanco</li>
		</ul>
	</div>

	 <div>
	  <button title="Terminar Reclamo" onclick="closeWebView();" >Terminar Reclamo</button>
	 </div>
</div>
<script>
    window.extAsyncInit = function() {
      // the Messenger Extensions JS SDK is done loading
      MessengerExtensions.getSupportedFeatures(function success(result) {
              var features = result.supported_features;
              alert(features.join(','));
            }, function error(err) {

            });
    };

    function closeWebView() {
      window.location = "https://www.messenger.com/closeWindow/?display_text=Cerrando ventana"
    }
  </script>

  <script>
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
</script>
</body>
</html>
