<!DOCTYPE html>
<html>
<head>
	<title>Items Perdidos</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

	<form>
		<fieldset >
			<legend >Selecciona el viaje donde perdiste tu item:</legend>
			<div class="control-group">
				<div class="checkbox">
					<label>
						<input type="radio" name="address" value="">
						Av. Paseo de la Reforma 222, Cuauhtemoc
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="radio" name="address" value="">
						Rio Lerma 123, Cuauhtemoc
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="radio" name="address" value="">
						Av. Masaryk 544, Polanco
					</label>
				</div>
			</div>
		</fieldset>
	</form>

	 <div style="text-align:right;margin:10px">
	  <button class="btn btn-primary" title="Terminar Reclamo" onclick="closeWebView();" >Terminar Reclamo</button>
	 </div>

<script>
    window.extAsyncInit = function() {
			alert('cargaron las extensions');
      // the Messenger Extensions JS SDK is done loading
      MessengerExtensions.getSupportedFeatures(function success(result) {
				alert(features);
              // var features = result.supported_features;
              // alert(features.join(','));
            }, function error(err) {

            });
    };

    function closeWebView() {
			MessengerExtensions.requestCloseBrowser(function success() {
  			alert('se cerro');
      }, function error(err) {
  			alert('erroro' + err);
      });
    }
  </script>

  <script>
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
</script>
</body>
</html>
