<!-- 

Copyright 2016-present, Facebook, Inc.
All rights reserved.

This source code is licensed under the license found in the
LICENSE file in the root directory of this source tree.

-->
<html>
  <head>
    <title>Item Perdido</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      div { margin: 10px 0px 10px 0px; }
    </style>
  </head>
  <body>

    <h3>Selecciona el viaje donde perdiste tu item:</h3>
    <ul>
      <li>* Av. Paseo de la Reforma 222, Cuauhtemoc</li>
      <li>* Rio Lerma 123, Cuauhtemoc</li>
      <li>* Av. Masaryk 544, Polanco</li>
    </ul>
    <br/>
    <button title="Terminar Reclamo" onclick="closeWebView();" >Terminar Reclamo</button>

  <script>
    window.extAsyncInit = function() {
      // the Messenger Extensions JS SDK is done loading
    };

    function closeWebView() {
        MessengerExtensions.requestCloseBrowser(function success() {

          }, function error(err) {

          });
    }
  </script>

  <script>
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
  </script>
  </body>
</html>