<!DOCTYPE html>
<html>
<head>
	<title>Items Perdidos</title>
	<!-- Include meta tag to ensure proper rendering and touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Include jQuery Mobile stylesheets -->
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

	<!-- Include the jQuery library -->
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- Include the jQuery Mobile library -->
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div >
	<h4>Selecciona el viaje donde perdiste tu item:</h4>
	<form>
		<fieldset data-role="controlgroup">
			<legend>Vertical:</legend>
			<input type="radio" name="radio-choice-v-2" id="radio-choice-v-2a" value="on" checked="checked">
			<label for="radio-choice-v-2a">Av. Paseo de la Reforma 222, Cuauhtemoc</label>
			<input type="radio" name="radio-choice-v-2" id="radio-choice-v-2b" value="off">
			<label for="radio-choice-v-2b">Rio Lerma 123, Cuauhtemoc</label>
			<input type="radio" name="radio-choice-v-2" id="radio-choice-v-2c" value="other">
			<label for="radio-choice-v-2c">Av. Masaryk 544, Polanco</label>
		</fieldset>
		<a href="#pagetwo" class="ui-btn ui-corner-all ui-btn-inline" onclick="closeWebView();return false;">Terminar Reclamo</a>
	</form>
</div>
<script>
    window.extAsyncInit = function() {
			alert('cargaron las extensions');
      // the Messenger Extensions JS SDK is done loading
      MessengerExtensions.getSupportedFeatures(function success(result) {
				alert(features);
              // var features = result.supported_features;
              // alert(features.join(','));
            }, function error(err) {

            });
    };

    function closeWebView() {
			MessengerExtensions.requestCloseBrowser(function success() {
  			alert('se cerro');
      }, function error(err) {
  			alert('erroro' + err);
      });
    }
  </script>

  <script>
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
</script>
</body>
</html>
