<!DOCTYPE html>
<html>
<head>
  <title>Selección de Destino</title>
  <!-- Include meta tag to ensure proper rendering and touch zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Include jQuery Mobile stylesheets -->
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

  <!-- Include the jQuery library -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Include the jQuery Mobile library -->
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<style type="text/css">
  .ui-filter-inset {
        margin-top: 0;
  }
</style>
</head>

<body>
    <form class="ui-filterable">
          <input id="autocomplete-input" data-type="search" placeholder="Escribe la dirección...">
    </form>
    <ul id="autocomplete" data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#autocomplete-input">
    </ul>

  <br/>
  <form>
    <fieldset data-role="controlgroup" data-mini="true">
      <legend>Destinos recientes:</legend>
      <input type="radio" name="radio-choice-v-2" id="radio-choice-v-2a" value="on" >
      <label for="radio-choice-v-2a">Av. Paseo de la Reforma 222, Cuauhtemoc</label>
      <input type="radio" name="radio-choice-v-2" id="radio-choice-v-2b" value="off">
      <label for="radio-choice-v-2b">Rio Lerma 123, Cuauhtemoc</label>
      <input type="radio" name="radio-choice-v-2" id="radio-choice-v-2c" value="other">
      <label for="radio-choice-v-2c">Av. Masaryk 544, Polanco</label>
    </fieldset>
    <div align="center">
      <a href="#pagetwo"  class="ui-btn ui-corner-all  ui-btn-inline" onclick="requestCabify();return false;">Pedir Cabify</a>

    </div>
  </form>
</div>
<script>

    $( "#autocomplete" ).on( "filterablebeforefilter", function ( e, data ) {
      var $ul = $( this ),
        $input = $( data.input ),
        value = $input.val(),
        html = "";
      $ul.html( "" );
      if ( value && value.length > 2 ) {
        $ul.html( "<li><div class='ui-loader'><span class='ui-icon ui-icon-loading'></span></div></li>" );
        $ul.listview( "refresh" );
        $.ajax({
          url: "/search_address",
          dataType: "json",
          crossDomain: true,
          data: {
            q: $input.val()
          }
        })
          .then( function ( response ) {
            $.each( response, function ( i, address ) {
              console.log(address.description);
              html += "<li><a href='#' onclick='requestCabify();'>" + address.description + "</a></li>";
            });
            $ul.html( html );
            $ul.listview( "refresh" );
            $ul.trigger( "updatelayout");
          });
      }
    });

  window.extAsyncInit = function() {

  };

  function requestCabify() {
    MessengerExtensions.getUserID(function success(uids) {
      var psid = uids.psid;
//        var psid = 45673;
      var data = {psid: psid, action: 'request_cabify', address: 'direccion bla blabla'};
      $.ajax({
        type: "POST",
        url: '/request_cabify',
        success: function(){
          closeBrowser();
        },
        contentType: 'application/json',
        data: JSON.stringify(data),
        dataType: 'json'
      });
    }, function error(err, errorMessage) {
      // Error handling code
      alert('No podemos autenticarte en este momento');
    });
  }


  function closeBrowser() {
    MessengerExtensions.requestCloseBrowser(function success() {
    }, function error(err) {
    });
  }
</script>

<script>
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
</script>

</body>
</html>