<!DOCTYPE html>
<html>
<head>
  <title>Pedir Cabify</title>
  <!-- Include meta tag to ensure proper rendering and touch zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Include jQuery Mobile stylesheets -->
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

  <!-- Include the jQuery library -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Include the jQuery Mobile library -->
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div >
  <form>
    <fieldset data-role="controlgroup" data-mini="true">
      <legend>Destinos recientes:</legend>
      <input type="radio" name="radio-choice-v-2" id="radio-choice-v-2a" value="on" checked="checked">
      <label for="radio-choice-v-2a">Av. Paseo de la Reforma 222, Cuauhtemoc</label>
      <input type="radio" name="radio-choice-v-2" id="radio-choice-v-2b" value="off">
      <label for="radio-choice-v-2b">Rio Lerma 123, Cuauhtemoc</label>
      <input type="radio" name="radio-choice-v-2" id="radio-choice-v-2c" value="other">
      <label for="radio-choice-v-2c">Av. Masaryk 544, Polanco</label>
    </fieldset>
    <div align="center">
      <a href="#pagetwo"  class="ui-btn ui-corner-all  ui-btn-inline" onclick="informIssue();return false;">Terminar Reclamo</a>

    </div>
  </form>
</div>
<script>
  window.extAsyncInit = function() {

  };

  function informIssue() {
    MessengerExtensions.getUserID(function success(uids) {
      var psid = uids.psid;
//        var psid = 45673;
      var data = {psid: psid, action: 'inform_lost_item', address: 'direccion bla blabla'};
      $.ajax({
        type: "POST",
        url: '/inform_lost_item',
        success: function(){
          closeBrowser();
        },
        contentType: 'application/json',
        data: JSON.stringify(data),
        dataType: 'json'
      });
    }, function error(err, errorMessage) {
      // Error handling code
      alert('No podemos autenticarte en este momento');
    });
  }


  function closeBrowser() {
    MessengerExtensions.requestCloseBrowser(function success() {
    }, function error(err) {
    });
  }
</script>

<script>
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
</script>
</body>
</html>
